<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Task Manager</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <main>
      <div id="header" class="container">
        <div class="container">
          <div class="title-container">
            <h1>Welcome to Task Manager</h1>
          </div>
        </div>
        <div class="quote-container">
          <h4 class="quotes">"<%= text %>"</h4>
          <h5 class="author">-<%= author %>-</h5>
        </div>
      </div>
      <!-- Form tambah task -->
      <div class="container">
        <div class="button">
          <a href="/add">➕Add Task</a>
        </div>
      </div>
      <!-- Akhir form tambah task -->

      <!-- Daftar Task -->
      <div class="container">
        <div class="tasks">
          <% tasks.forEach((task) => { %>
          <div class="task-box">
            <p class="task-title" id="task-title"><a href="#"><%= task.title %></a></p>
            <div class="buttons">
              <div>
                <form action="/<%= task._id %>?_method=DELETE" method="POST">
                  <button class="delete-button">Delete</button>
                </form>
              </div>
              <button class="edit-button"><a href="/<%= task._id %>/edit">Edit</a></button>
            </div>
          </div>
          <dialog id="detail" class="detail">
            <form method="dialog">
              <h5>Task Title: <%= task.title %></h5>
              <h5>Task Due Date: <%= task.deadline %></h5>
              <h5>Task Priority: <%= task.priority %></h5>
              <button>Close</button>
            </form>
          </dialog>
          <% }) %>
        </div>
      </div>
      <!-- Akhir Daftar Task -->
    </main>
    <script src="/static/script.js"></script>
  </body>
</html>
